* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header,
main,
footer > div {
  max-width: 1180px;
  margin: 0 auto;
}

p{
  color: black;
}

/************** Header*************************/
header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
header nav {
  flex-basis: 30%;
}
header img {
  width: 100px;
}
header ul {
  display: flex;
  list-style: none;
  flex-flow: row;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 80px;
}
header ul li a {
  color: black;
}
header ul li {
  font-weight: 100;
  flex-basis: 50%;
  text-align: center;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header ul li:hover {
  color: #0065fc;
  text-align: center;
  border-top: 3px solid #0065fc;
  margin: 0;
}
/**********************Searching section*********************************/
#search-bar {
  line-height: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 1.3em;
}
#search-bar p {
  font-weight: 300;
}
#search-bar form {
  display: flex;
  flex-flow: row;
  padding-top: 20px;
}
#search-bar form label {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 18px;
  background-color: #f2f2f2;
  padding: 16px;
}

#search-bar form input {
  border: #f2f2f2 1px solid;
  font-size: 1.2em;
  font-weight: 700;
  opacity: 0.7;
  padding-left: 15px;
}

#search-bar form button {
  background-color: #0065fc;
  border: #f2f2f2;
  color: #f2f2f2;
  border-radius: 0 15px 15px 0;
}

#search-bar form button i {
  display: none;
}

#search-bar form button span {
  font-size: 1em;
  padding: 15px;
  font-weight: 700;
}

/********************* filters*****************************/
#filters {
  margin-bottom: 25px;
}
#filters h3 {
  font-size: 1em;
  margin-right: 30px;
}
#filters div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 25px;
}

#filters div ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
}
#filters ul li {
  border: #f2f2f2 2px solid;
  font-weight: 700;
  border-radius: 25px;
  margin-right: 20px;
}
#filters ul li i {
  background-color: #f2f2f2;
  border-radius: 50%;
  color: #0065fc;
  font-size: 1em;
  padding: 12px;
  margin-left: -3px;
  margin-right: 10px;
}
#filters ul li a {
  color: black;
  margin-right: 15px;
}
#filters p {
  font-weight: lighter;
}
#filters p i {
  padding: 5px 10px;
  border: 2px solid #f2f2f2;
  color: #0065fc;
  border-radius: 100%;
  margin-right: 10px;
}

/************Accomodation********************/
#accomodation-popular {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 10px;
}
#accomodation {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 60%;
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 35px;
  flex-grow: 1;
}
#accomodation h2 {
  font-size: 1.2em;
  font-weight: 700;
  flex-basis: 100%;
  margin: 4% 0 3% 4%;
}
#accomodation article {
  margin-left: 30px;
  flex-basis:25%;
}
#accomodation article figure {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 4px solid white;
  width: 225px;
  background-color: white;
  margin-bottom:20px;

}
#accomodation article a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#accomodation article figure img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
h3 {
  color: black;
}
#accomodation article figcaption {
  background-color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 3px 0 3px 10px;
}
#accomodation figure ul {
  display: flex;
  list-style: none;
  color: #f2f2f2;
}
.active {
  color: #0065fc;
}

#accomodation > a {
  flex-basis: 100%;
 margin-left: 4%;
 margin-bottom: 4%;
  color: black;
  font-weight: 600;
}

/**********POPULAR******************/

#most-popular {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 30%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 3%;
}

#most-popular h2 {
  display: flex;
  font-size: 1.2em;
  font-weight: 700;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 8%;
}
#most-popular article {
  flex-basis: 100%;
}
#most-popular article figure {
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 4px solid white;
  width: 278px;
  height: 128px;
  background-color: white;
  margin-bottom: 20px;
}
#most-popular article a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#most-popular article figure img {
  width: 110px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
#most-popular article figcaption {
  background-color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 10px;
}
#most-popular figure ul {
  display: flex;
  list-style: none;
  color: #f2f2f2;
  margin-top: 30px;
}
.active {
  color: #0065fc;
}
#most-popular > a {
  flex-basis: 100%;
  margin-left: 4%;
  margin-bottom: 4%;
  color: black;
  font-weight: 600;
}

/*****************activities*******************************/
#activities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 6%;
}

#activities h2 {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 1.2em;
  font-weight: 700;
  flex-basis: 100%;
}
#activities h3{
  font-size: 1em;
}
#activities div {
  height: 400px;
  flex-basis: 23%;
}
#activities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*****************Figcaption******************************/
#activities > div figcaption{
  height: 55px;
  background-color: white;
  border: 2px #f2f2f2;
  border-radius:0 0 15px 15px ;
  padding: 17px;
  align-items: center;
}
#activities > div:nth-of-type(1) figcaption,
#activities > div:nth-of-type(3) figcaption{
position: relative;
bottom: 55px;
}

#activities > div:nth-of-type(2) figcaption,
#activities > div:nth-of-type(4) figcaption{
position: relative;
bottom: 50px;
}
/*****************Activities normal*******************/
#activities > div:nth-of-type(1) article,
#activities > div:nth-of-type(3) article {
  height: 400px;
  width: 265px;
}
#activities > div:nth-of-type(1) figure,
#activities > div:nth-of-type(3) figure {
  height: 100%;
  width:100% ;
}
/*************Activities flex**********************/
#activities > div:nth-of-type(2),
#activities > div:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#activities > div:nth-of-type(2) article:nth-of-type(1) {
  height: 55%;
  width: 265px;
}
#activities > div:nth-of-type(2) article:nth-of-type(1) figure {
  height: 100%;
}
#activities > div:nth-of-type(2) article:nth-of-type(2) {
  height: 35%;
  width: 265px;
}
#activities > div:nth-of-type(2) article:nth-of-type(2) figure {
  height: 100%;
}

#activities > div:nth-of-type(4) article:nth-of-type(2) {
  height: 50%;
  width: 265px;
}
#activities > div:nth-of-type(4) article:nth-of-type(2) figure {
  height: 100%;
}

#activities > div:nth-of-type(4) article:nth-of-type(1) {
  height: 40%;
  width: 265px;
}
#activities > div:nth-of-type(4) article:nth-of-type(1) figure {
  height: 100%;
}

/****************footer**************************/
footer {
  background-color: #f2f2f2;
}
footer > div:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  font-size: 1em;
  padding: 4% 0 2% 0;
}
footer > div:nth-child(1) div {
  flex-basis: 33%;
}
h4 {
  font-weight: 700;
  margin-bottom: 17px;
}
footer ul {
  list-style: none;
  line-height: 1.7;
}
footer a {
  color: black;
}

/****************inferior à 1200px**********************************/
@media only screen and (min-width: 1200px){
  
}